body{
    
    margin: 0;
    padding: 0;
    background: #e84118; /* background color */
}

.search-box{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #2f3640;
    height: 40px;    /* odavde namjestamo iza search boxa border oblik */
    border-radius: 40px; /* prosirujemo ga */ 
    padding: 10px; /* ovdje mu zadajemo date dimenzije */
}

.search-btn { 

    color: #e84118; /* boja search ikone */
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640; 
    display: flex; /* ispisati sta je */
    justify-content: center; /* pomjeranje search ikone u centar */
    align-items: center; /* centriramo ga sad skroz */
    transition: 0.4s;
}
 
.search-box:hover > .search-txt{ /* kombiniramo, da stoji samo ikona i kada hoverujemo misem onda se pokaze search-txt bar */
    width: 240px;
    padding: 0 6px;
}

.search-box:hover > .search-btn{ /* kada hoverujemo, onda se ikona search promijeni u bijelu boju */
    background: white;
}

.search-txt{
    
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s; /* efekat, polako se prikazuje */
    line-height: 40px;
    width: 0px;
}


